#playerMenu {
    background: lightblue;
}

#opponentMenu {
    background: pink;
}

.largegrid {
    width: 700px;
   height: 700px;
   margin: auto;
}

.smallgrid {
    width: 560px;
    height: 560px;
}


.modalSquare {
  position: relative;
  min-height: 1px;
  color: lightblue;
  width: 2px;
  height: 2px;

  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

.square {
  position: relative;
  min-height: 17px;
  min-width: 17px;
  color: lightblue;
  width: 3.33%;
  height: 3.33%;

  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #00ff00;
  
}

.sea {
  background-color: lightskyblue;
}

.coral {
  background-color: pink;
}

.ship.challenger {
  background-color: firebrick;
}

.ship.opponent {
  background-color: dodgerblue;
}

.ship.challenger.bow {
  background-image: url('../img/bow.png');
  background-size: 100% 100%;
  background-color: red;
}

.ship.opponent.bow { 
  background-image: url('../img/bow.png');
  background-size: 100% 100%;
  background-color: yellow;
}

.ship.challenger.superArmor.bow {
    background-color: purple;
}

.ship.opponent.superArmor.bow {
    background-color: violet;
}

.ship.challenger.base {
  background-color: #280000;
}

.ship.opponent.base {
  background-color: darkblue;
}

.ship.challenger.superArmor, .ship.opponent.superArmor {
  background-color: darkgray;
}

.ship.challenger.damagedSquare, .ship.opponent.damagedSquare, .ship.challenger.base.damagedSquare, .ship.opponent.base.damagedSquare{
  background-color: orange;
}

.fog {
  background-color: #484848;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.top-buffer {
  margin-top: 20px;
}

.right-buffer {
  margin-right: 10px;
}

.left-buffer {
  margin-left: 10px;
}

#contextMenu{
  z-index: 500;
  position: absolute;
  left: 50px;
  top: 111px;
}
