#playerMenu {
    background: lightblue;
}

#opponentMenu {
    background: pink;
}

.largegrid {
    width: 700px;
   height: 700px;
   margin: auto;
}

.smallgrid {
    width: 560px;
    height: 560px;
}

.modalSquare {
  position: relative;
  min-height: 1px;
  color: lightblue;
  width: 2px;
  height: 2px;

  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

.square {
  position: relative;
  min-height: 17px;
  min-width: 17px;
  color: lightblue;
  width: 3.33%;
  height: 3.33%;

  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

.sea {
  background-color: lightskyblue;
}
.bluebase {
  background-color: dodgerblue;
}
.redbase {
  background-color: firebrick;
}

.coral {
  background-color: pink;
}

.ship {
  background-color: black;
}

.ship.challenger {
  background-color: firebrick;
}

.ship.opponent {
  background-color: dodgerblue;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.top-buffer {
  margin-top: 20px;
}

.right-buffer {
  margin-right: 10px;
}
